/.WhileLanguageRuntimeModule.java._trace
/.WhileLanguageStandaloneSetup.java._trace
/.WhileLanguageRuntimeModule.xtendbin
/.WhileLanguageStandaloneSetup.xtendbin
/WhileLanguageRuntimeModule.java
/WhileLanguageStandaloneSetup.java
