body {
	background-color: #333B47;
}

textarea {
	width: 100%;
}

.CodeMirror {
  border: 1px solid #CFCFCF;
  height: 500px;
  width: 100%;
  font-size: 19px;
}

.logoLg {
	width: 25%;
	height: 25%;
}

#consoleOutput {
	background-color: #141414; 
	font-family: 'Ubuntu', sans-serif;
	color: white;
}
