/.WhileLanguageDescriptionLabelProvider.java._trace
/.WhileLanguageLabelProvider.java._trace
/.WhileLanguageDescriptionLabelProvider.xtendbin
/.WhileLanguageLabelProvider.xtendbin
/WhileLanguageDescriptionLabelProvider.java
/WhileLanguageLabelProvider.java
