<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
  <style>
    html { margin: 1.5% 1.5% 1.5% 1.5%; }
  </style>

  <title>Compilateur WHILE vers JS</title>
</head>
<body>
  <div class="container-fluid"> <!-- START div .container -->
    <div class="row">
      <div class="col-md-12">
        <h1> 
          Compilateur WHILE vers JavaScript
          <small class="text-muted">Sprint 1</small>
        </h1>
      </div>
    </div> 

    <div class="row my-3">
      <div class="col-md-12">
        <form method="POST" id="compilation">
          <div class="form-row">
            <div class="col-md-3">
              <label for="whileToCompile" class="h4 text-muted">While à compiler</label>
              <textarea class="form-control" id="whileToCompile" rows="22" placeholder="Saisir une fonction WHILE à compiler..."></textarea>
            </div>
            <div class="col-md-3">
              <label for="jsCompiled" class="h4 text-muted">JavaScript généré</label>
              <textarea disabled class="form-control" id="jsCompiled" rows="22"></textarea>
            </div>
            <div class="col-md-3">
              <div id="paramInputs">
                
              </div>
            </div>
          </div>

          <div class="form-row" style="margin-top: 1%">
            <div class="col-md-6">
              <button type="button" class="btn btn-success btn-lg btn-block" name="validateCompile" id="validateCompile" style="margin-top: 3.5%">
                Compiler
              </button>
            </div>
          </div>

            <div class="col-md-6" id="consoleOutputContainer" style="margin-top: 1%;">
              <label for="consoleOutput">Console :</label>
              <textarea disabled class="form-control" id="consoleOutput" rows="7" placeholder="Debug" style="background-color: #141414; color: white;"></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div> <!-- END div .container -->

  <!-- load external libraries -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <!-- catch the submit event and run the .jar file that compiles the input -->
  <script>
    $('#validateCompile').on('click', function(event){
      event.preventDefault();
      if($('#display3Addr').is(":checked")) {
        //TODO : appeler le .jar avec l'option -a
      }
      var codeWh = $('textarea#whileToCompile').val();

      $.ajax({
        url: '/compile',
        type: 'POST',
        dataType: 'json',
        data: {whilePrgm: codeWh},
        success: (data) => {
          console.log(data);
          console.log(typeof(data.jarPrints));
          $('#consoleOutput').html(data.jarPrints);

          $.ajax({
            url: '/output',
            type: 'GET',
            success: (data) => {
              console.log(data);
              $('#jsCompiled').html(data.compiledJS);
            }
          });

          $.ajax({
            url: '/parameters',
            type: 'GET',
            success: (data) => {
              if(data.error){
                $('#consoleOutput').append(data.error);
              }else if(data.params){
                generateInputAreas(data.params);
              }
            }
          });          
        }
      });
    });

    //params should be array of the function parameters
    function generateInputAreas(params) {
      $('#paramInputs').html('<h2>Paramètres d\'appel</h2>');
      for (var i = 0; i < params.length; i++) {
        var current = params[i];
        $('#paramInputs').append('<div class="col-md-6">\
                                  <label for="'+ current +'">'+ current +'</label>\
                                  <input id="'+ current +'" name="'+ current +'" class="form-control " type="text" placeholder="Valeur pour '+ current +'">\
                                  </div>');
      }
      $('#paramInputs').append('<div class="col-md-6">\
                                  <button type="button" class="btn btn-primary btn-lg btn-block" name="execute" id="execute">\
                                    Exécuter avec ces paramètres\
                                  </button>\
                                </div>');


      // listen for click
      $('#execute').on('click', function(event){
        var arrayValues = [];
        $('input').each(function(index,data) {
          var value = $(this).val();
          arrayValues[index] = value;
        });
        console.log(arrayValues); 
      });
    }
  </script>
</body>
</html>
