<!DOCTYPE html>
<html>
<head>
	<title>Compilateur WHILE vers JS</title>
	<!--<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>-->

</head>
<body>
	<h1> Démonstration compilation WHILE vers JavaScript</h1>
	<form method="POST">
		<label for="whileToCompile">Saisir un programme WHILE à compiler en JS</label>
		<textarea id="whileToCompile">
		</textarea>
		<input name="validateCompile" id="validateCompile" value="Compiler" type="submit" />
		
		<label for="jsCompiled">Résultat de la compilation</label> 
		<textarea disabled id="jsCompiled">
		</textarea>
	</form>
	<div id="output"></div>
	<script>
		$('#jar').click(function(event){
			event.preventDefault();
			$.ajax({
				url: '/test',
				type: 'POST',
				dataType: 'json',
				success: (data) => {
					console.log(data);
					$('#output').html(data.data);
				}
			});
		});
	</script>

</body>
</html>
